MAIL_USER=
MAIL_PASS=
MAIL_FROM_ADDR=
MAIL_FROM_NAME=HealthFlow
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls

DB_HOST=localhost
DB_NAME=healthflow
DB_USER=root
DB_PASS=

ABSTRACT_EMAIL_API_KEY=
ABSTRACT_EMAIL_API_URL=https://emailreputation.abstractapi.com/v1/
ABSTRACT_EMAIL_API_TIMEOUT=5
